body, html {
  text-align: center;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  font-size: 1em;
}

section {
  width: 50%;
  margin: auto;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

/* Phone Font Colors */
@media (min-width: 300px) {
/* Header Color */
h1 {
  color: #7b7d70;

}
/*Subheader Color */
h2 {
  color: #4eafb8;
}

/* Paragraph Color */
p {
  color: #ff8641;
    }
}

/* Tablet Font Colors */
@media (min-width: 768px) {
/* Header Color*/
h1 {
color: #02cbd2;
}

/*Subheader Color */
h2 {
  color: #fcc02a;
}

/* Paragraph Color */
p {
  color: #7b8f8e;
     }
}

/* Desktop */
@media (min-width: 1200px) {
  /*Header Color */
h1 {
  color: #6e4b61;
}

/*Subheader Color */
h2 {
  color: #cabd61;
}

/* Paragraph Color */
p {
  color: #c19e74;
   }
}
